{
  "trailingComma": "all",
  "plugins": ["@prettier/plugin-oxc", "prettier-plugin-tailwindcss"],
  "tailwindStylesheet": "./src/app[local]/globals.css",
  "tailwindFunctions": ["clsx", "cn"],
  "experimentalOperatorPosition": "start"
}
