@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "General Sans Fallback";
    src: local(Arial);
    size-adjust: 103%;
    ascent-override: 96%;
    descent-override: 22%;
    line-gap-override: 15%;
    /* Latin range */
    unicode-range: U+0000-007F;
  }

  /* Start Custom Scrollbar */

  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
    background-color: transparent;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-primary-600;
    border-radius: 5px;
  }

  /* End Custom Scrollbar */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .solid-shadow {
    box-shadow:
      var(--tw-ring-offset-shadow, 0 0 #0000),
      var(--tw-ring-shadow, 0 0 #0000),
      var(--tw-shadow),
      -1px -1px 0px 1px #003366,
      -1px -6px 0px 1px #003366;
  }
}

@layer utilities {
  .hexagon {
    clip-path: path(
      "M96.6599 73.771V31.1043C96.658 29.2338 96.1642 27.3966 95.2281 25.7772C94.292 24.1577 92.9465 22.8129 91.3266 21.8776L53.9932 0.544296C52.3717 -0.391899 50.5323 -0.884766 48.6599 -0.884766C46.7875 -0.884766 44.9481 -0.391899 43.3266 0.544296L5.99325 21.8776C4.37331 22.8129 3.02781 24.1577 2.09171 25.7772C1.15561 27.3966 0.661831 29.2338 0.659912 31.1043V73.771C0.661831 75.6415 1.15561 77.4786 2.09171 79.0981C3.02781 80.7176 4.37331 82.0624 5.99325 82.9976L43.3266 104.331C44.9481 105.267 46.7875 105.76 48.6599 105.76C50.5323 105.76 52.3717 105.267 53.9932 104.331L91.3266 82.9976C92.9465 82.0624 94.292 80.7176 95.2281 79.0981C96.1642 77.4786 96.658 75.6415 96.6599 73.771Z"
    );
  }
}
